.menuApp {
    width: 100%;
}

.listGroup {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 0.6rem;
    row-gap: 1rem;
}

.listGroup li {
    display: inline-block;
    background-color: #404140;
    border-radius: 3px;
    
}

.listGroup a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}